:root {
    --primary-background: #FFFFFF;
    --accent-colour: #4D5AE5;;
    --accent-btn: #404BBF;
    --primary-text-colour:#434455;
    --white-text: #ffffff;
    --title-colour: #2E2F42;
    --footer-text: #E7E9FC;
    --footer-logo: #F4F4FD;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--primary-text-colour);
    background: var(--primary-background);
}

.link {
    text-decoration: none;
}
.list {
    list-style: none;
}

/**------------Header ------------------*/

.header-logo {
    font-family: 'Raleway', sans-serif;
     font-weight: 800;
     font-size: 18px;
     line-height: 1.17;
     display: flex;
     align-items: center;
     letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--accent-colour)
}
.first-logo {
    color: var(--title-colour);
}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-colour)
}

.header-link:hover,
.header-link:focus {
color: var(--accent-btn)
}



.header-contacts-list {
    font-style: normal;
}

.header-link-contact {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-colour);
}

.header-link-contact:hover,
.header-link-contact:focus {
    color: var(--accent-btn);
}



/**------------About ------------------*/


.about-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--white-text);
}

.about {
    background: var(--title-colour);
}

.btn-primary { 
    font-family: "Roboto", sans-serif;
    font-weight:500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    cursor: pointer;
   
}

.btn-primary {
    color: var(--white-text);
    background: var(--accent-colour);
}

.btn-primary:hover,
.btn-primary:focus { 
background:var(--accent-btn)
}

/**-----------Advantages-------------*/

.section-subtitle { 
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-colour);
}

.section-text { 
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-colour);
}

/**-----------What are we doing, Our team -------------*/

.section-work-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-colour);
}



.section-team {
    background: var(--footer-logo);
}

.section-list .team-item { 
background: var(--primary-background);
}

/**------------Footer-----------------*/

.section-footer { 
    background: var(--title-colour);
}

.footer-logo { 
    font-family: 'Raleway';
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 21px;
        /* identical to box height */
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--footer-logo);

}

.footer-first-logo {
color: var(--footer-logo);
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--footer-text);
}


/**------------Portfolio------------------*/

.btn-secondary {
    font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.04em;
        color: var(--accent-colour);
        cursor: pointer;
}


.btn-secondary {
    background: var(--footer-logo);
}

.btn-secondary:hover,
.btn-secondary:focus {
    background: var(--accent-btn);
    color: var(--white-text);
}
/**------------Gallery------------------*/

.gallery-list-item .section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    letter-spacing: 0.02em;
    color: var(--title-colour)
}

.gallery-list-item .secondary-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.50;
        letter-spacing: 0.02em;
        color: var(--footer-logo);
        background: var(--accent-colour);
}